{
  "--title" : "OpenEmap Admin Documentation",
  "--": [ "../src/main/javascript", "~/Sites/libs/ext-4.2.1/src", "~/Sites/libs/geoext2-2.0.1/src" ],
  "--warnings": [
    "-nodoc(class,public):~/Sites/libs/ext-4.2.1/src",
    "-nodoc(member,public):~/Sites/libs/ext-4.2.1/src",
    "-link:~/Sites/libs/ext-4.2.1/src",
    "-type_name:~/Sites/libs/ext-4.2.1/src",
    "-all:~/Sites/libs/geoext-2.0.1/src",
    "-type_name:~/Sites/libs/geoext-2.0.1/src",
    "-all:jsduck.categories"
  ],
  "--ignore-html": [
    "locale",
    "debug"
  ],
  "--images": ["~/Sites/libs/ext-4.2.1/src/Images", "images"],
  "--builtin-classes": true
}
