<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Encoding>UTF-8</Encoding>
	<SystemXMLDebug>false</SystemXMLDebug>
	<SystemXMLDebugFile>system_xmldebug.xml</SystemXMLDebugFile>
	<ModuleXMLDebug>true</ModuleXMLDebug>
	<ModuleXMLDebugFile>module_xmldebug.xml</ModuleXMLDebugFile>
	<BackgroundModuleXMLDebug>false</BackgroundModuleXMLDebug>
	<BackgroundModuleXMLDebugDir>backgroundmoduledebug</BackgroundModuleXMLDebugDir>
	<BackgroundModuleXMLFileSuffix>bgmodule_xmldebug.xml</BackgroundModuleXMLFileSuffix>
	<StyleSheets>
		<StyleSheet default="true" fullMenu="true" language="Swedish"
			name="default (xsl/design.xsl)">xsl/design.xsl</StyleSheet>
	</StyleSheets>
	<DataSource>
		<Url><![CDATA[jdbc:mysql://127.0.0.1:3306/oemapadmin]]></Url>
		<Type>SystemManaged</Type>
		<Driver>com.mysql.jdbc.Driver</Driver>
		<Username>root</Username>
		<Password>perfa</Password>
		<LogAbandoned>true</LogAbandoned>
		<RemoveAbandoned>true</RemoveAbandoned>
		<RemoveAbandonedTimeout>30</RemoveAbandonedTimeout>
		<TestOnBorrow>true</TestOnBorrow>
		<ValidationQuery>SELECT 1</ValidationQuery>
		<MaxActive>30</MaxActive>
		<MaxIdle>10</MaxIdle>
		<MinIdle>0</MinIdle>
		<MaxWait>10000</MaxWait>
	</DataSource>
	<DefaultLanguage>Swedish</DefaultLanguage>
	<CoreDAOFactory>se.unlogic.hierarchy.core.daos.implementations.mysql.MySQLCoreDAOFactory</CoreDAOFactory>
</Config>
